<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find arm_control)/config/arm_control.yaml" command="load"/>

<!-- Controller Manager >
  <include file="$(find pr2_controller_manager)/controller_manager.launch" /-->

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/arm" args="elbow1_1_controller elbow1_2_controller elbow2_1_controller elbow2_2_controller elbow3_1_controller left_elbow1_1_controller left_elbow1_2_controller left_elbow2_1_controller left_elbow2_2_controller left_elbow3_1_controller"/>

<!--node name="spawn_controller_pr2" pkg="pr2_controller_manager" type="spawner" args="elbow1_1_controller elbow1_2_controller elbow2_1_controller elbow2_2_controller elbow3_1_controller" respawn="false" output="screen" /-->

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/arm/joint_states" />
  </node>

  <node pkg="rostopic" type="rostopic" name="init_right_arm"
        args="pub -1 /arm/elbow1_2_controller/command std_msgs/Float64 'data: 0.5'" output="screen" />
  <node pkg="rostopic" type="rostopic" name="init_right_arm2"
        args="pub -1 /arm/elbow2_2_controller/command std_msgs/Float64 'data: -0.5'" output="screen" />

  <node pkg="rostopic" type="rostopic" name="init_left_arm"
        args="pub -1 /arm/left_elbow1_2_controller/command std_msgs/Float64 'data: 0.5'" output="screen" />
  <node pkg="rostopic" type="rostopic" name="init_left_arm2"
        args="pub -1 /arm/left_elbow2_2_controller/command std_msgs/Float64 'data: -0.5'" output="screen" />


</launch>
